*.apk
*.iml
*.jks
*.key
*.keystore
*.log
*.p12
*.pem
*.pyc
*.zip

.DS_Store
.env*
.cxx/
.externalNativeBuild/
.gradle/
.idea/
.kotlin/
__pycache__/

/app/build/
/app/releases/
/build/
/build-logic/build/
/build-logic/*/build/
/captures/
/local.properties
/release/
/releases/
/sign.properties

*.pre-platform-versions.bak
__pycache__/
*.py[cod]
